body{
    border: 2px solid red;
    background-color: powderblue;
    color: salmon; 
    word-spacing: 10px;
}
p{
    padding: 4px ;
    color: blue;
    font-family: verdana;
    font-size: 300%;
    text-align: center;
    overflow-x: scroll;
}
img{
    height: 100px;
    width: 100px;
    position: absolute;
    z-index: 100;
    left: 650px;
    top: 200px;
}