<div class="col-lg-6 offset-lg-3 mt-3 border border-2 border-dark bg-light p-3">
    <h2>Welcome to your portfolio, {{fName}}</h2>
    <input type="button" value="Log Out" class="btn btn-danger" (click)="logout()">
    <form [formGroup]="contactRef" (ngSubmit)="submitContact()">
        <div class="justify-content-center mb-2 mt-5">
            <h4>Enter a new contact</h4>
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-6 mb-2">
                    <input type="text" formControlName="name" class="form-control" required>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Phone Number</label>
                <div class="col-sm-6">
                    <input type="number" class="form-control" formControlName="number" required>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <input type="submit" value="Add Contact" class="btn btn-primary">
                </div>
                <div class="col-sm-2">
                    <input type="button" value="Clear Contacts" (click)="clearContacts()" class="btn btn-danger">
                </div>
            </div>
        </div>
    </form>
    <div>
        <table class='table'>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of rows">
                    <td>
                        {{row.name}}
                    </td>
                    <td>
                        {{row.number}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>