<div>
    <div id="questionPageHeading" style="color: blue;font-style: italic;font-weight: bolder;"><h1>Online Test Application</h1></div>    
        <br/>
        <div class="formDiv">
            
            <form  *ngFor="let ques of questionsData;let i = index" [id]=i+1>
                <div id="questionForm">
                <label>{{ques.id}}. {{ques.question}}</label><br/>
                A.<input  type="radio" [value]="ques.option1" name="option"/>
                <label> {{ques.option1}}</label><br/>
                B.<input  type="radio" [value]="ques.option2" name="option"/>
                <label> {{ques.option2}}</label><br/>
                C.<input  type="radio" [value]="ques.option3" name="option"/>
                <label> {{ques.option3}}</label><br/>
                D.<input  type="radio" [value]="ques.option4" name="option"/>
                <label> {{ques.option4}}</label><br/>
                <br/>
                </div>
            </form>
        </div>
        <div id="buttonDiv">
        <input type="button" id="buttonID" class="btn btn-primary" value="Get Result" (click)="answers()"/> 
        <input type="button" id="buttonID" class="btn btn-primary" value="Quit Test" (click)="quitTest()"/> 
        </div>
        <div id="answersDiv">
            <h2>View your result below!</h2>
            <h4 id="eachAnswer" *ngFor="let msg of msgArray">{{msg}}</h4>
        </div>
        <div id="resultDiv">
            <h4 id="resultH4">{{resultMessage}}</h4>
        </div>
</div>
